.home{
    .hero{
        background-image: url("../images/home_background.svg");
        background-attachment: fixed;
        background-size: cover;
        .container{
            padding-top: 99px;
            padding-bottom:260px;
            max-width: 1440px;
            .logo{
                margin: auto;
                width: 157px;
                height: 139px;
                background: url("../images/Logo.svg") center no-repeat;
                background-size: 100%;
                margin-bottom: 160px;
            }
            .content{
                @include flex(center, center);
                flex-direction: column;
                .title{
                    font-size: 48px;
                    max-width: 600px;
                }
                .semi-title{
                    max-width: 620px;
                }
                .button{
                    @include padding-v(5px);
                    width: 120px;
                    margin-top: 15px;
                }
            }
        }
    }
    @include for-size(desktop-down){
        .hero{
            .container{
                .content{
                    .title{
                        font-size: 38px;
                    }
                    .semi-title{
                        font-size: 28px;
                    }
                    .btn{
                        width: 100px;
                    }
                }
            }
        }
    }
    @include for-size(tablet-landscape-down){
        .hero{
            .container{
                .content{
                    .title{
                        font-size: 32px;
                    }
                    .semi-title{
                        font-size: 24px;
                    }
                }
            }
        }
    }
    @include for-size(phone-only){
        .hero{
            .container{
                .logo{
                    margin: auto;
                    width: 157px;
                    height: 139px;
                    background: url("../images/Logo.svg") center no-repeat;
                    background-size: 100%;
                    margin-bottom: 90px;
                }
                .content{
                    .title{
                        font-size: 19px;
                    }
                    .semi-title{
                        font-size: 14px;
                    }
                    .button{
                        width: 80px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}