.latestProducts{
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    .container{
        @include padding-v(50px);
        h1, h5{
            text-align: center;
        }
        .products{
            @include flex(center,center);
            gap: 21px;
            padding-top: 50px;
        }
    }
    @include for-size(tablet-landscape-down){
        .container{
            .products{
                flex-direction: column;
                gap: 30px;
                padding-top: 40px;
            }
        }
    }
    @include for-size(phone-only){
        .container{
            .products{
                padding-top: 30px;
            }
        }
    }
}