.product{
    flex: 1;
    background: $white;
    position: relative;
    @include flex(center, center);
    flex-direction: column;
    max-width: 407px;
    padding: 5.4%  3% 13px 3%;
    gap: 6px;
    .imgContainer{
        width: 100%;
        @include flex(center,center);
        min-height: 334px;
        img{
            height: 100%;
            width: 100%;
            margin-bottom: 10px;
        }
    }
    .icons{
        position: absolute;
        left: 20px;
        top: 20px;
        @include flex(center, center);
        flex-direction: column;
        gap: 9px;
        .icon{
            padding: 17px;
            border-radius: 50%;
            @include ripple-effect(white);
        }
        .hummer{
            background: url("../images/hummer.png") no-repeat center;
            background-size: 34px;
        }
        .wish{
            background: url("../images/wish.png") no-repeat center;
            background-size: 34px;
        }
        .search{
            background: url("../images/search.png") no-repeat center;
            background-size: 34px;
        }
    }
    .infos{
        .title, .price{
            text-align: center;
            text-transform: uppercase;
        }
    }
    @include for-size(desktop-down){
        .imgContainer{
            min-height: 250px;
        }
    }
    @include for-size(phone-only){
        max-width: 320px;
        .img{
            max-width: 230px;
        }
        .icons{
            gap: 7px;
            .icon{
                padding: 15px;
            }
        }
    }
}