* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 0;
  vertical-align: baseline;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

body {
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 7%;
  padding-right: 7%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: 700;
}

i {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

svg path {
  transition: stroke 300ms ease-in-out, fill 300ms ease-in-out;
}

svg:hover path {
  transition: stroke 300ms ease-in-out, fill 300ms ease-in-out;
}

input,
textarea:focus {
  outline: 0;
}

button:focus {
  cursor: pointer;
  outline: 0;
}

ol,
ul {
  list-style: none;
}

li {
  list-style: none;
}

/**
* Remove most spacing between table cells.
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/*=== Import Fonts ===*/
@font-face {
  font-family: "OpenSans Regular";
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans SemiBold";
  src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans Light";
  src: url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
}

/*=== Typography Styling ===*/
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

h1 {
  font-family: "OpenSans Regular";
  font-size: 53px;
  line-height: 1.32;
  color: #6d6d6d;
  text-transform: uppercase;
}

h1.bigTitle {
  font-family: "OpenSans SemiBold";
  font-size: 115px;
  font-weight: 600;
  line-height: 1.33;
  color: #107dac;
}

.semi-title {
  font-family: "OpenSans Regular";
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  color: #6d6d6d;
}

h2 {
  font-family: "OpenSans SemiBold";
  font-size: 52px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 2.7px;
  text-align: left;
}

h3 {
  font-family: "OpenSans SemiBold";
  font-size: 37px;
  font-weight: bold;
  line-height: 1.32;
}

.home section .title, .title {
  font-family: "OpenSans SemiBold";
  font-size: 36px;
  font-weight: bold;
  line-height: 1.33;
  text-align: left;
  color: #107dac;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .home section .title, .title {
    font-size: 24px;
  }
}

@media (max-width: 992px) {
  .home section .title, .title {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .home section .title, .title {
    font-size: 16px;
  }
}

Footer.title {
  font-family: "OpenSans SemiBold";
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
  color: #96999c;
}

.filter {
  font-family: "OpenSans SemiBold";
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
  text-align: left;
  color: #6d6d6d;
}

p {
  font-family: "OpenSans SemiBold";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.35;
  text-align: left;
  color: #107dac;
}

.SideBar.selecteed {
  font-family: "OpenSans SemiBold";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.35;
  text-align: left;
  color: #ffffff;
}

.SideBar {
  font-family: "OpenSans SemiBold";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.35;
  text-align: left;
  color: #6d6d6d;
}

.product .infos .title {
  font-family: "OpenSans SemiBold";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.35;
  color: #6d6d6d;
}

@media (max-width: 1200px) {
  .product .infos .title {
    font-size: 18px;
  }
}

Footer .link, .findus {
  font-family: "OpenSans Regular";
  font-size: 20px;
  line-height: 1.35;
  color: #6d6d6d;
}

@media (max-width: 1200px) {
  Footer .link, .findus {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  Footer .link, .findus {
    font-size: 16px;
  }
}

h4 {
  font-family: "OpenSans SemiBold";
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  text-align: left;
  color: #ffffff;
}

h5 {
  font-family: "OpenSans Regular";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #414042;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  h5 {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  h5 {
    font-size: 12px;
  }
}

.label-2 {
  font-family: "OpenSans SemiBold";
  font-size: 16px;
  font-weight: bold;
  line-height: 1.31;
  color: #6d6d6d;
}

.navBar {
  font-family: "OpenSans SemiBold";
  font-size: 16px;
  font-weight: 600;
  line-height: 1.31;
  text-align: left;
  color: #474747;
}

.button {
  font-family: "OpenSans SemiBold";
  font-size: 16px;
  font-weight: 600;
  line-height: 1.31;
  color: #ffffff;
}

label {
  font-family: "OpenSans Regular";
  font-size: 16px;
  line-height: 1.31;
  text-align: left;
  color: #3b3b3b;
}

.product .infos .price, .productText {
  font-family: "OpenSans Regular";
  font-size: 16px;
  line-height: 1.31;
  color: #5d5d5d;
}

@media (max-width: 1200px) {
  .product .infos .price, .productText {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .product .infos .price, .productText {
    font-size: 14px;
  }
}

p.large {
  font-family: "OpenSans Regular";
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.98px;
  color: #3b3b3b;
}

.countdown .count {
  font-family: "OpenSans SemiBold";
  font-size: 13px;
  font-weight: 600;
  line-height: 1.31;
  color: #107dac;
}

placeHolder {
  font-family: "OpenSans Regular";
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  color: #96999c;
}

@media (max-width: 1200px) {
  placeHolder {
    font-size: 10px;
  }
}

.popup {
  font-family: "OpenSans Regular";
  font-size: 8px;
  line-height: 1.38;
  text-align: left;
  color: #656565;
}

.countdown .label {
  font-family: "OpenSans Regular";
  font-size: 8px;
  line-height: 1.38;
  color: #444444;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home .hero {
  width: 100%;
  background-image: url("../images/home_background.svg");
  background-attachment: fixed;
  background-size: cover;
}

.home .hero .container {
  padding-top: 99px;
  padding-bottom: 260px;
  max-width: 1440px;
}

.home .hero .container .logo {
  margin: auto;
  width: 157px;
  height: 139px;
  background: url("../images/Logo.svg") center no-repeat;
  background-size: 100%;
  margin-bottom: 160px;
}

.home .hero .container .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home .hero .container .content .title {
  font-size: 48px;
  max-width: 600px;
}

.home .hero .container .content .semi-title {
  max-width: 620px;
}

.home .hero .container .content .button {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 120px;
  margin-top: 15px;
}

@media (max-width: 1200px) {
  .home .hero .container .content .title {
    font-size: 38px;
  }
  .home .hero .container .content .semi-title {
    font-size: 28px;
  }
  .home .hero .container .content .btn {
    width: 100px;
  }
}

@media (max-width: 992px) {
  .home .hero .container .content .title {
    font-size: 32px;
  }
  .home .hero .container .content .semi-title {
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  .home .hero .container {
    padding-bottom: 180px;
  }
  .home .hero .container .logo {
    margin: auto;
    width: 157px;
    height: 139px;
    background: url("../images/Logo.svg") center no-repeat;
    background-size: 100%;
    margin-bottom: 90px;
  }
  .home .hero .container .content .title {
    font-size: 19px;
  }
  .home .hero .container .content .semi-title {
    font-size: 14px;
  }
  .home .hero .container .content .button {
    width: 80px;
    font-size: 12px;
  }
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.countdown .timing {
  text-align: center;
  padding: 6px 3px 13px 3px;
  border-radius: 4px;
  border: solid #e1e1e1 1px;
  min-width: 42px;
}

.product {
  flex: 1;
  background: #ffffff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 407px;
  padding: 5.4%  3% 13px 3%;
  gap: 6px;
}

.product .imgContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 334px;
}

.product .imgContainer img {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

.product .icons {
  position: absolute;
  left: 20px;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 9px;
}

.product .icons .icon {
  padding: 17px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.product .icons .icon::before {
  content: "";
  position: absolute;
  background-color: white;
  padding: 50%;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  transition: transform 700ms, opacity 700ms;
  pointer-events: none;
}

.product .icons .icon:active::before {
  transition: 0s;
  opacity: 1;
  transform: translate(-50%, -50%) scale(0);
}

.product .icons .hummer {
  background: url("../images/hummer.png") no-repeat center;
  background-size: 34px;
}

.product .icons .wish {
  background: url("../images/wish.png") no-repeat center;
  background-size: 34px;
}

.product .icons .search {
  background: url("../images/search.png") no-repeat center;
  background-size: 34px;
}

.product .infos .title, .product .infos .price {
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .product .imgContainer {
    min-height: 250px;
  }
}

@media (max-width: 576px) {
  .product {
    max-width: 320px;
  }
  .product .img {
    max-width: 230px;
  }
  .product .icons {
    gap: 7px;
  }
  .product .icons .icon {
    padding: 15px;
  }
}

.latestProducts {
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
}

.latestProducts .container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.latestProducts .container h1, .latestProducts .container h5 {
  text-align: center;
}

.latestProducts .container .products {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
  padding-top: 50px;
}

@media (max-width: 992px) {
  .latestProducts .container .products {
    flex-direction: column;
    gap: 30px;
    padding-top: 40px;
  }
}

@media (max-width: 576px) {
  .latestProducts .container .products {
    padding-top: 30px;
  }
}

.types {
  height: 928px;
  width: 100%;
  margin-bottom: 20px;
}

.types .container {
  max-width: 1800px;
  height: 100%;
  width: 100%;
  min-height: 928px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  color: white;
}

.types .container .mobile, .types .container .gadgets {
  height: 454px;
  width: 40%;
  padding-top: 6%;
  padding-left: 2rem;
}

.types .container .laptops {
  width: 60%;
  height: 100%;
  background-color: #0f7dac;
  padding-left: 25%;
  padding-top: 6%;
  background-image: url("../images/mac.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 100%;
}

.types .container .mobile {
  background-color: #1ebbd7;
  background-image: url("../images/phone-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.types .container .gadgets {
  background-image: url("../images/watch_tp3.svg");
  background-color: #005073;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 100%;
}

@media (max-width: 1200px) {
  .types {
    max-width: 100%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .types .container .laptops, .types .container .mobile, .types .container .gadgets {
    flex: 1;
    width: 100%;
  }
  .types .container .laptops {
    padding-left: 2rem;
  }
}

@media (max-width: 768px) {
  .types .laptops h2, .types .mobile h2, .types .gadgets h2 {
    font-size: 48px;
  }
}

@media (max-width: 576px) {
  .types .laptops h2, .types .mobile h2, .types .gadgets h2 {
    font-size: 42px;
  }
}

.brands {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 44px;
  width: 100%;
  gap: 44px;
}

.brands .logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 100%;
}

.brands .logos .brand {
  flex: 1;
  padding: 25px;
  background-color: #21334d;
}

.auctions {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.auctions h5 {
  margin-bottom: 50px;
}

.auctions .products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 21px;
}

.auctions .products .product {
  flex: auto;
}

.contactUs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin-top: 62px;
  width: 100%;
}

.contactUs .title, .contactUs h5 {
  text-align: center;
}

.contactUs .content {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.contactUs .content .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.contactUs .content .findUs {
  flex: 1;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 9%;
  padding-bottom: 5%;
  width: 50%;
}

.contactUs .content .findUs .title, .contactUs .content .findUs .findus {
  text-align: center;
  max-width: 402px;
}

.contactUs .content .inTouch {
  padding-top: 2%;
  padding-bottom: 5%;
  padding-left: 9%;
  padding-right: 9%;
  width: 50%;
}

.contactUs .content .inTouch .title {
  margin-bottom: 15%;
  text-align: center;
}

.contactUs .content .inTouch .inputs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 26px;
}

.contactUs .content .inTouch .inputs input, .contactUs .content .inTouch .inputs textarea {
  border-bottom: #efefef solid 1px;
  width: 100%;
  padding-left: 15px;
  padding-bottom: 9px;
}

.contactUs .content .inTouch .inputs textarea {
  max-height: 80px;
}

.contactUs .content .inTouch .inputs .btn {
  width: 100%;
  background-color: #107dac;
}

.contactUs .content .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12.5px;
}

.contactUs .content .icons .icon {
  width: 29.4px;
  height: 29.4px;
  border-radius: 50%;
  background-color: #107dac;
}

@media (max-width: 1200px) {
  .contactUs .content .inTouch input, .contactUs .content .inTouch textarea {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .contactUs .content .inTouch input, .contactUs .content .inTouch textarea {
    font-size: 12px;
  }
  .contactUs .content .findUs {
    height: 100%;
  }
  .contactUs .title {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .contactUs .content {
    flex-direction: column;
  }
  .contactUs .content .findUs {
    width: 100%;
  }
  .contactUs .content .inTouch {
    width: 100%;
    padding-top: 10%;
  }
  .contactUs .content .inTouch .title {
    margin-bottom: 40px;
  }
}

.detail {
  padding-top: 64px;
  width: 100%;
}

.detail .content {
  padding-bottom: 100px;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding-top: 10px;
  width: 100%;
}

.detail .content .title {
  margin-bottom: 5px;
}

.detail .content .infos {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
}

.detail .content .infos .img {
  position: relative;
  width: 35%;
  height: 0;
  padding-bottom: 35%;
  border: 1px solid #efefef;
  background: url(https://images.unsplash.com/photo-1615375834706-98afda0d534f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2280&q=80) center no-repeat;
  background-size: 100% 100%;
}

.detail .content .infos .text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 16.5px;
}

.detail .content .infos .text span {
  font-family: "OpenSans SemiBold";
}

.detail .content .infos .text .title {
  font-size: 24px;
  border-bottom: 1px solid #efefef;
  width: 90%;
  padding-bottom: 16.5px;
}

.detail .content .infos .text .textContainer :first-child {
  margin-bottom: 7px;
}

.detail .content .infos .text .actions {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 11px;
}

.detail .content .infos .text .actions .hummer, .detail .content .infos .text .actions .like, .detail .content .infos .text .actions .search {
  width: 34px;
  height: 34px;
  background-color: #107dac;
  border-radius: 50%;
  cursor: pointer;
}

.detail .content .infos .text .actions .hummer {
  background: url("../images/hummer.png") center no-repeat;
  background-size: 100%;
}

.detail .content .infos .text .actions .search {
  background: url("../images/search.png") center no-repeat;
  background-size: 100%;
}

.detail .content .infos .text .actions .like {
  background: url("../images/wish.png") center no-repeat;
  background-size: 100%;
}

.detail .content .infos .text .actions .btn {
  flex: 1;
  background-color: #107dac;
}

.detail .content .infos .text .timing {
  min-width: 93px;
  height: 105px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.detail .content .infos .text .timing .label {
  font-size: 18px;
}

.detail .content .infos .text .timing .count {
  font-size: 30px;
}

@media (max-width: 1200px) {
  .detail {
    padding-top: 50px;
  }
  .detail .content .infos {
    gap: 40px;
  }
  .detail .content .infos .text {
    gap: 13px;
  }
  .detail .content .infos .text .title {
    font-size: 20px;
  }
  .detail .content .infos .text .title {
    padding-bottom: 12px;
  }
  .detail .content .infos .text .timing {
    min-width: 73px;
    height: auto;
    padding: 10px;
  }
  .detail .content .infos .text .timing .label {
    font-size: 12px;
  }
  .detail .content .infos .text .timing .count {
    font-size: 20px;
  }
  .detail .content .infos .text .textContainer :first-child {
    margin-bottom: 5px;
  }
}

@media (max-width: 992px) {
  .detail {
    padding-top: 50px;
  }
  .detail .content .infos {
    gap: 30px;
  }
  .detail .content .infos .text {
    gap: 13px;
  }
  .detail .content .infos .text .title {
    font-size: 18px;
  }
  .detail .content .infos .text .title {
    padding-bottom: 12px;
  }
  .detail .content .infos .text .timing {
    min-width: 55px;
    height: auto;
    padding: 10px;
  }
  .detail .content .infos .text .timing .label {
    font-size: 10px;
  }
  .detail .content .infos .text .timing .count {
    font-size: 18px;
  }
  .detail .content .infos .text .textContainer :first-child {
    margin-bottom: 5px;
  }
}

@media (max-width: 768px) {
  .detail {
    padding-top: 40px;
  }
  .detail .content {
    padding-bottom: 50px;
  }
  .detail .content .infos {
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .detail .content .infos .img {
    width: 50%;
    padding-bottom: 50%;
  }
  .detail .content .infos .text {
    width: 100%;
  }
  .detail .content .infos .text .title {
    font-size: 16px;
  }
  .detail .content .infos .text .timing {
    flex: 1;
    min-width: 0px;
  }
  .detail .content .infos .text .timing .label {
    font-size: 8px;
  }
  .detail .content .infos .text .timing .count {
    font-size: 14px;
  }
  .detail .content .infos .text .actions .btn {
    font-size: 10px;
  }
}

.quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 19px;
  height: 41px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  border: solid 1px #707070;
}

.quantity .minus, .quantity .plus {
  cursor: pointer;
}

.productDetail header {
  background: #f6f6f6;
  padding-top: 10px;
  padding-bottom: 10px;
}

.productDetail header .logo {
  padding-top: 50px;
  padding-bottom: 50px;
  background: url("../images/Logo.svg") center no-repeat;
  background-size: 100% 100%;
}

.productDetail .related {
  padding-top: 20px;
}

.productDetail .related .title {
  padding-bottom: 20px;
}

.productDetail .related .products {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

@media (max-width: 992px) {
  .productDetail .related .products {
    flex-direction: column;
    gap: 20px;
  }
  .productDetail .related .products .product {
    width: 70%;
  }
}

.nav-cont {
  background-color: transparent;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.nav-cont .nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  width: 456px;
}

.nav-cont .nav-list .list-item {
  cursor: pointer;
}

.nav-cont .nav-list .list-item .list.link {
  cursor: pointer;
  text-decoration: none;
}

.nav-cont .burger {
  display: none;
  font-size: 30px;
  color: #e2e2e2;
}

.nav-cont .buttons-ya {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 270px;
}

.nav-cont .buttons-ya .search-button {
  background-color: #e2e2e2;
  cursor: pointer;
  width: 40px;
  height: 40px;
  outline: none;
  border-radius: 4px;
  border: solid 1px #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-cont .buttons-ya .search-button .search-icon {
  width: 16.5px;
  height: 16.5px;
}

.nav-cont .buttons-ya .register-button {
  border-radius: 4px;
  cursor: pointer;
  background-color: #107dac;
  width: 100px;
  height: 40px;
  outline: none;
  color: white;
}

.nav-cont .buttons-ya .login-button {
  border-radius: 4px;
  border: solid 1px #e2e2e2;
  cursor: pointer;
  background-color: #e2e2e2;
  width: 77px;
  height: 40px;
  outline: none;
  color: #107dac;
}

.nav-cont .buttons-ya .backet-icon {
  width: 17px;
  cursor: pointer;
}

.container {
  width: 1300px;
  margin: 0 auto;
  padding: 0 7%;
}

.showlist {
  transform: translateX(0) !important;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }
  .nav-cont .nav-list {
    height: calc(100% - 80px);
    width: 70%;
    transform: translateX(-100%);
    background-color: white;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 1;
    transition: all 300ms;
  }
  .nav-cont .burger {
    display: block;
  }
}

.header-cont {
  width: 100%;
  background-color: #f6f6f6;
  height: 179.9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5%;
  height: 804px;
  justify-content: space-between;
}

.login .input-cont {
  height: auto;
  width: 437px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login .input-cont .ya {
  margin-top: 5px;
  width: 62.03px  !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.login .input-cont .ya .link {
  cursor: pointer;
  width: 26px;
}

.login .input-cont .row {
  margin-top: 5px;
  width: 262px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.login .input-cont .row .text {
  font-style: italic;
  color: #3b3b3b;
}

.login .input-cont .row .Signlink {
  cursor: pointer;
  font-style: italic;
  color: #107dac;
}

.login .input-cont .title_ya {
  margin-top: 48.1px;
  color: #107dac !important;
}

.login .input-cont .miniP {
  margin-top: 7px;
  width: 272px;
  text-align: center;
}

.login .input-cont .form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login .input-cont .form .input-field {
  width: 100%;
  height: 35px;
  position: relative;
  margin-top: 30px;
}

.login .input-cont .form .input-field .input {
  padding: 0 25px;
  width: 100%;
  height: 35px;
  border-bottom: solid 1px #efefef;
}

.login .input-cont .form .input-field .input-icon {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login .input-cont .form .sub-button {
  margin-top: 40.5px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: #107dac;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.login .input-cont .form .pass-link {
  margin-top: 5px;
  cursor: pointer;
  align-self: flex-start;
  font-style: italic;
  letter-spacing: 1.05px !important;
}

@media screen and (max-width: 1000px) {
  .login .input-cont {
    width: 85%;
  }
}

.footer-cont {
  width: 100%;
  background-color: #333333;
  height: 386px;
}

.footer-cont .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.footer-cont .footer .clm {
  display: flex;
  flex-direction: column;
  height: 148.51px;
  align-items: flex-start;
}

.footer-cont .footer .clm .head {
  margin-bottom: 29px;
}

.footer-cont .footer .clm .lks {
  color: #96999c;
  cursor: pointer;
}

.footer-cont .footer .searchCont {
  width: 294px;
  height: 34px;
  position: relative;
}

.footer-cont .footer .searchCont .search-input {
  width: 294px;
  height: 34px;
  padding-left: 16px;
  border-radius: 16px;
  border: solid 1px #dfdfdf;
  background-color: #ffffff;
}

.footer-cont .footer .searchCont .search-button {
  cursor: pointer;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #107dac;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .footer-cont .footer {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
  .footer-cont .footer .footerLogo {
    display: none;
  }
  .footer-cont .footer .clm {
    height: 100px;
  }
  .footer-cont .footer .clm .head {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */