* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 0;
  vertical-align: baseline;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

body {
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 7%;
  padding-right: 7%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: 700;
}

i {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

svg path {
  transition: stroke 300ms ease-in-out, fill 300ms ease-in-out;
}

svg:hover path {
  transition: stroke 300ms ease-in-out, fill 300ms ease-in-out;
}

input,
textarea:focus {
  outline: 0;
}

button:focus {
  cursor: pointer;
  outline: 0;
}

ol,
ul {
  list-style: none;
}

li {
  list-style: none;
}

/**
* Remove most spacing between table cells.
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/*=== Import Fonts ===*/
@font-face {
  font-family: "OpenSans Regular";
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans SemiBold";
  src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans Light";
  src: url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
}

/*=== Typography Styling ===*/
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

h1 {
  font-family: "OpenSans Regular";
  font-size: 53px;
  line-height: 1.32;
  color: #6d6d6d;
}

h1.bigTitle {
  font-family: "OpenSans SemiBold";
  font-size: 115px;
  font-weight: 600;
  line-height: 1.33;
  color: #107dac;
}

.semi-title {
  font-family: "OpenSans Regular";
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  color: #6d6d6d;
}

h2 {
  font-family: "OpenSans SemiBold";
  font-size: 52px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 2.7px;
  text-align: left;
}

h3 {
  font-family: "OpenSans SemiBold";
  font-size: 37px;
  font-weight: bold;
  line-height: 1.32;
}

.home section .title {
  font-family: "OpenSans SemiBold";
  font-size: 36px;
  font-weight: bold;
  line-height: 1.33;
  text-align: left;
  color: #107dac;
}

Footer.title {
  font-family: "OpenSans SemiBold";
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
  color: #96999c;
}

.filter {
  font-family: "OpenSans SemiBold";
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
  text-align: left;
  color: #6d6d6d;
}

p {
  font-family: "OpenSans SemiBold";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.35;
  text-align: left;
  color: #107dac;
}

.SideBar.selecteed {
  font-family: "OpenSans SemiBold";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.35;
  text-align: left;
  color: #ffffff;
}

.SideBar {
  font-family: "OpenSans SemiBold";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.35;
  text-align: left;
  color: #6d6d6d;
}

.article.Title {
  font-family: "OpenSans SemiBold";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.35;
  color: #6d6d6d;
}

Footer.link {
  font-family: "OpenSans Regular";
  font-size: 20px;
  line-height: 1.35;
  color: #6d6d6d;
}

h4 {
  font-family: "OpenSans SemiBold";
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  text-align: left;
  color: #ffffff;
}

h5 {
  font-family: "OpenSans Regular";
  font-size: 18px;
  line-height: 1.33;
  text-align: left;
  color: #414042;
}

.label-2 {
  font-family: "OpenSans SemiBold";
  font-size: 16px;
  font-weight: bold;
  line-height: 1.31;
  color: #6d6d6d;
}

.navBar {
  font-family: "OpenSans SemiBold";
  font-size: 16px;
  font-weight: 600;
  line-height: 1.31;
  text-align: left;
  color: #474747;
}

.button {
  font-family: "OpenSans SemiBold";
  font-size: 16px;
  font-weight: 600;
  line-height: 1.31;
  color: #ffffff;
}

label {
  font-family: "OpenSans Regular";
  font-size: 16px;
  line-height: 1.31;
  text-align: left;
  color: #3b3b3b;
}

.article.price {
  font-family: "OpenSans Regular";
  font-size: 16px;
  line-height: 1.31;
  color: #5d5d5d;
}

p.large {
  font-family: "OpenSans Regular";
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.98px;
  color: #3b3b3b;
}

.counter.count {
  font-family: "OpenSans SemiBold";
  font-size: 13px;
  font-weight: 600;
  line-height: 1.31;
  color: #107dac;
}

placeHolder {
  font-family: "OpenSans Regular";
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  color: #96999c;
}

.popup {
  font-family: "OpenSans Regular";
  font-size: 8px;
  line-height: 1.38;
  text-align: left;
  color: #656565;
}

.counter.label {
  font-family: "OpenSans Regular";
  font-size: 8px;
  line-height: 1.38;
  color: #444444;
}

.home {
  background-image: url("../images/home_background.svg");
  background-attachment: fixed;
  background-size: cover;
  padding: 99px 26.1% 260px 26.1%;
}

.home .hero {
  max-width: 1440px;
}

.home .hero .logo {
  margin: auto;
  width: 157px;
  height: 139px;
  background: url("../images/Logo.svg") center no-repeat;
  background-size: 100%;
  margin-bottom: 160px;
}

.home .hero .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home .hero .content .title {
  font-size: 48px;
}

.home .hero .content .button {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 120px;
  margin-top: 15px;
}

@media (max-width: 1200px) {
  .home {
    background: rebeccapurple;
  }
}

@media (max-width: 992px) {
  .home {
    background: rebeccapurple;
  }
}

@media (max-width: 576px) {
  .home {
    background: rebeccapurple;
  }
}
/*# sourceMappingURL=style.css.map */