.types{
    height: 928px;
    width: 100%;
    .container{
        max-width: 1800px;
        height: 100%;
        width: 100%;
        min-height: 928px;
        @include flex(center,center);
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        color: white;
        .mobile, .gadgets{
            height: 454px;
            width: 40%;
            padding-top: 6%;
            padding-left: 2rem;
        }
        .laptops{
            width: 60%;
            height: 100%;
            background-color: #0f7dac;
            padding-left: 25%;
            padding-top: 6%;
            background-image: url('../images/mac.svg');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position-x: 0;
            background-position-y: 100%;
        }
        .mobile{
            background-color: #1ebbd7;
            background-image: url('../images/phone-background.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .gadgets{
            background-image: url('../images/watch_tp3.svg');
            background-color: #005073;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position-y: 100%;
        }
    }
    margin-bottom: 20px;
    @include for-size(desktop-down){
        max-width: 100%;
        padding-left: 2%;
        padding-right: 2%;
        .container{
            .laptops, .mobile, .gadgets{
                flex: 1;
                width: 100%;
            }
            .laptops{
                padding-left: 2rem;
            }
        }
    }
    @include for-size(tablet-portrait-down){
        .laptops, .mobile, .gadgets{
            h2{
                font-size: 48px;
            }
        }
    }
    @include for-size(phone-only){
        .laptops, .mobile, .gadgets{
            h2{
                font-size: 42px;
            }
        }
    }
}